/*tr{
    height: 50px;
}*/
td{
    border-color: black;
    border-width: 1px;
    border-style: solid;

    width: 50px;
    height: 50px;
    
    min-width: 50px;
    min-height: 50px;

    padding: 0px;

    background-color: white;
}

.canvas{
    width: 100%;
    height: 400px;

    
    /*height: 100%;*/

    overflow:scroll;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.grid{
    border-collapse: collapse;
    
}

body{
    background-color: aliceblue;
    margin-top: 0px;
}

#center-piece
{
    min-width: 600px;
    max-width: 1000px;
    width: 100%;
    height: 100%;

    min-height: 700px;

    padding-top: 10px;

    
    margin:auto;

    box-shadow: 0px 0px 4px rgba(0,0,0,.4);
}

.tool-panel{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.zoom{
    flex: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-panel{
    display: flex;
    

}

.canvas-container{
    box-shadow: 1px 1px 6px rgba(0,0,0,.4);
    padding: 30px 50px;

    margin: 50px;

    border-radius: 8px;

    background-color: white;
}